<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">

    {% block links %}
    
    {% endblock links %}

    <title>
        {% block title %}
        
        {% endblock title %}
    </title>
</head>
<body>
        <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                  <div class="navbar-header">
                    <a class="navbar-brand" href="{{ url_for('index') }}">ATS</a>
                  </div>
                  <ul class="nav navbar-nav">
                    {% block navbar %}
                    
                    {% endblock navbar %}
                  </ul>
                </div>
        </nav>
    {% block content %}
    
    {% endblock content %}
</body>
</html>