{% extends "base.html" %}

{% block title %}
Products
{% endblock title %}

{% block navbar %}
    <li class="active"><a href="{{ url_for('list_products')}}">Products</a></li>
    <li><a href="{{ url_for('statistics')}}">Statistics</a></li>
{% endblock navbar %}

{% block content %}

    <div class="jumbotron">
        <div class="container">
                <h1>Products</h1>
                <a href="{{ url_for ('new_product') }}" class="btn btn-success">
                    Create a new products
                </a>
        </div>
        
    </div>
    <div class="container">
            <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Price</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for prod in products[::-1] %}
                            <tr>
                                
                                <td><a href="{{ url_for ('detail_product', id=prod.id) }}">
                                    {{ prod.product_name }}</a>
                                </td>
                                <td>{{ prod.category }}</td>
                                <td>{{ prod.base_price }}</td>
            
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
 

    </div>

{% endblock content %}   